/* app css stylesheet */
/* app css stylesheet */

body {
  padding-top: 20px;
}

.news {
  list-style: none;
}
.favIcon{
    display: inline !important;
    padding-bottom: 3px;
}
.provider{
    color:#999;
}
.provider a:hover {
    text-decoration: underline;
    max-width: none;
}
.provider a {
    display: inline;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 19em;
}

.form-checkbox{
    padding-top: 10px;
}

.form-checkbox-label{
    padding-top: 10px;
}



