/* app css stylesheet */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid .text-muted {
  margin: 20px 0;
}
.navbar-brand-label{
    color: #6782AC;
    position: relative;
    top: 16px;
    left: -14px;
    font-family: "Courier New", Courier, monospace;
}
.navbar-brand-label span{
    color:#B22F2F;
}
.navbar-brand-container{
    float: left;
    height: 50px;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
}

.news {
  list-style: none;
}
.favIcon{
    display: inline !important;
    padding-bottom: 3px;
}
.provider{
    color:#999;
}
.provider a:hover {
    text-decoration: underline;
    max-width: none;
}
.provider a {
    display: inline;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 19em;
}
.provider a:visited {
    color: #999;
}

a:visited {
    color: #551a8b;
}

.form-checkbox{
    padding-top: 10px;
}

.form-checkbox-label{
    padding-top: 10px;
}



